body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:  #f2f4f3;
    overflow-x: hidden;
  }
  
  header {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #012295 0%, #012295 33.33%, #FFFFFF 40.40%, #FFFFFF 66.66%, #e82939 75.75%, #e82939 100%);  
  }
  .logo img {
    width: 155px;
    margin-left: 40px;
  }
  
  *{
    padding: 0px;
    margin: 0px;
  }
  
  ul, ol{
    list-style: none;
  }
  
  .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-left: 20px;
  }
  
  .menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-icon div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 4px 450px;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
    }
  
    .menu li {
        margin: 0;
    }
  
    .menu li a {
        padding: 10px;
        display: block;
        color: rgb(0, 0, 0);
    }
  
    .menu-icon {
        display: flex;
    }
  }
  
  .nav{
    position: relative;
    margin-top: 12px;
    margin-left: 32px;
  }
  
  .nav li a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    transition: .3s;
  }
  
  .nav li a:hover{
    background-color: #3c69be;
  }
  
  .nav > li{
    float: left;
  }
  
  .nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
  }
  
  .nav li:hover > ul{
    display: block;
  }

  .login-button {
    background-color: #012391;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 15%;
    margin-left: 200%;
    }
  
  .login-button:hover {
    background-color: #00196b;
  }
  /*Encabezado*/
  .pagina {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.left, .right {
    flex: 1;
    padding: 20px;
}

.left {
    overflow-y: auto;
    line-height: 1.6;
}

.right {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right h2 {
    margin-bottom: 20px;
}

.right img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.jugadores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    flex-direction: column;
}
h1 {
    text-align: left;
    margin-left: 20px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.player {
    text-align: center;
    margin: 15px;
}
.player img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.player-name {
    font-weight: bold;
}
  /*pagina*/
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-container h2 {
    color: #000000;
  }
  
  .social-media img,
  .contact-us img,
  .find-us img {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  }
  .social-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; 
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon-container img {
    margin-right: 10px; 
  }
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon-container img {
    margin-right: 10px; 
  }
  
  .icon-container span {
    color: rgb(0, 0, 0);
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  
    display: flexbox;
    width: 100%;
    height: 25%;
    bottom: 0;
  }

  #btn-menu{
    display: none;
  }
  
  .icon-equis{
    left: 230px;
  }
  
  .container-menu{
    position: absolute;
    background: linear-gradient(to bottom, #012295 0%, #012295 33.33%, #FFFFFF 40.40%, #FFFFFF 66.66%, #e82939 75.75%, #e82939 100%);  
  /*  background: rgba(0, 0, 0, 0.5);*/
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  
  @media screen and (max-width: 768px){
    #btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
    }
  }
  
  .cont-menu{
    width: 1000%;
    max-width: 250px;
    background: #ffffff;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
  }
  
  #btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
  }
  
  .cont-menu nav{
    transform: translateY(15%);
  }
  
  .cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 10px;
    color: #000000;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }
  
  .cont-menu nav a:hover{
    border-left: 5px solid #000000;
    background: #7e7e7e;
  }
  
  .cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
  }