body {
  font-family: Arial, sans-serif;
  background-image: url(../images/historia/historiaf.png);
  text-align: justify;
}
b{
  color: #012391;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.image-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.animated-image {
  width: 300px;
  height: auto;
  opacity: 0;
  transition: opacity 4s ease;
  border: 10px solid rgb(235, 153, 77);
}

.text {
  margin-left: 30px;
  margin-right: 30px;
  color: #000000;
  font-family: fantasy;
  font-size: large;
  }
/*header{
  background-image: url(encabezado.webp);
  width: 600px;
  height: 200px;
  text-align: right;
  padding-top: 20px;
  background-repeat: no-repeat;
}*/
.recuadro {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1{
font-family: fantasy;
}

header {
  background-image: url(../pagwebprincipal/banderadefines.png);
  padding: 75px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

*{
  padding: 0px;
  margin: 0px;
}

ul, ol{
  list-style: none;
}

.nav{
  margin-top: -26px;
  margin-left: -710px;
}

.nav li a{
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: .3s;
}

.nav li a:hover{
  background-color: #3c69be;
}

.nav > li{
  float: left;
}

.nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul{
  display: block;
}

.login-button {
  background-color: #012391;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: -100%;
}

.login-button:hover {
  background-color: #00196b;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container h2 {
  color: #000000;
}

.social-media img,
.contact-us img,
.find-us img {
  display: block;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; 
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container img {
  margin-right: 10px; 
}
.icon-container {
  display: flex;
  align-items: center;
}

.icon-container img {
  margin-right: 10px; 
}

.icon-container span {
  color: rgb(0, 0, 0);
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;

  display: flexbox;
  width: 100%;
  height: 25%;
  bottom: 0;
}