body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:  #f2f4f3;
}

header {
  background-image: url(../pagwebprincipal/banderadefines.png);
  padding: 75px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

*{
  padding: 0px;
  margin: 0px;
}

ul, ol{
  list-style: none;
}

.nav{
  margin-top: -26px;
  margin-left: -710px;
}

.nav li a{
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: .3s;
}

.nav li a:hover{
  background-color: #3c69be;
}

.nav > li{
  float: left;
}

.nav li ul{
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul{
  display: block;
}

/*.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu ul li {
  margin-right: 50px;
  margin-top: -18px;
}

.menu ul li a {

  color: #000000;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}
.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-toggle span {
  background-color: #000000;
  display: block;
  height: 2px;
  width: 25px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .menu.active {
    display: flex;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .menu ul li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
.menu ul li:hover {
  transition: 2ms;
  border-top: 4px solid rgb(255, 0, 0); 
  color: #012391;
}*/
.login-button {
  background-color: #012391;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: -100%;
}

.login-button:hover {
  background-color: #00196b;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-container h2 {
  color: #746363;
}

.social-media img,
.contact-us img,
.find-us img {
  display: block;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
.social-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; 
}

.icon-container {
  display: flex;
  align-items: center;
}

.icon-container img {
  margin-right: 10px; 
}
.icon-container {
  display: flex;
  align-items: center;
}

.icon-container img {
  margin-right: 10px; 
}

.icon-container span {
  color: rgb(0, 0, 0);
}
.gallery {
position: relative;
height: 600px; 
}
footer {
  background-color: #333;
  color: #746363;
  text-align: center;
  padding: 10px;

  display: flexbox;
  width: 100%;
  height: 25%;
  bottom: 0;
}
.image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transition: opacity 4s;
opacity: 0;
}

.image:first-child {
opacity: 1;
}

.imagen {
display: block;
margin: 0 auto;
margin-top: 20px;
max-width: 100%;
height: auto;
}
::-webkit-scrollbar {
width: 10px; 
}
::-webkit-scrollbar-track {
background-color: #f2f4f3;
}
::-webkit-scrollbar-thumb {
background-color: #f2f4f3;
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background-color: #555; 
}
.container{
display: flex;
justify-content: space-around;
align-items: center;
height: 300px;
}

.hover-image {
padding: 5%;
width: 300px;
transition: transform .3s ease;
}

.hover-image:hover {
  transform: scale(1.2);
}

.fixed-image {
position: relative;
z-index: 1;
width: 15%;
}
.container {
display: flex;
justify-content: center;
align-items: center;
/*height: 100%;*/
margin-top: 145px;
position: relative;
}

.overlay {
position: absolute;
top: 0;
bottom: 0;
width: 50%;
z-index: 1;
}

.left {
left: 0;
}

.right {
right: 0;
}
